.payment_image_part{
        width: 100%;
        position: absolute;
        top: 0;
        box-shadow: rgba(56, 65, 73, 0.2) 0px 8px 24px;
        margin-bottom: 1rem;
        border: 1px solid rgb(75, 75, 75);
       
     
}
.payment_image_part img{
    width: 250px;

}

.t_1{
    color: #76787a;
    font-size: 0.8rem;
}
.t_02{
    color: #76787a;
    font-size: 1rem;
    font-weight: 800;
}
.Payment_inner_cnt{
    display: flex;
    padding: 10px;
    background-color: #18212d;
    width: 350px;
    border-bottom: 2px solid rgb(203, 203, 204);
    margin: auto;
    margin-top: 7rem;
    text-align: center;
    border: 2px solid rgb(72, 71, 71);
    box-shadow: rgba(186, 97, 206, 0.2) 10px 12px 24px;
    margin-bottom: 5rem;
}
.p_9{
    color: white;
    font-weight: bolder;
}
.p_11 input{
    width: 100%;
    padding: 3px;
    border-bottom: 2px solid rgb(203, 203, 204);
    background-color: rgb(27, 25, 25);
    color: white;
    font-weight: bolder;
}
.p_12 input{
    width: 100%;
    padding: 3px;
    border-bottom: 2px solid rgb(203, 203, 204);
    background-color: rgb(24, 21, 21);
    color: white;
    font-weight: bolder;
}
.p_13 input{
    margin-right: 15px;
    width: 45%;
    padding: 3px;
    border-bottom: 2px solid rgb(203, 203, 204);
    background-color: rgb(14, 13, 13);
    color: white;
    font-weight: bolder;
}
.p_14{
   
    font-weight: bolder;
    color: white;
    background-color: #3999f4;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #383e47;
    width: 70%;
    margin: auto;
    padding: 5px;
   
    
}