


.loginbtn{
   display: flex;
    gap: 10px;
    color: black;
   
}
.expanded_user{
    /* display: none; */
    position: absolute;
    top: 60px;
    right: 29px;
    border: 2px solid rgb(98, 96, 96);
    padding: 3px;
    z-index: 9999;
    animation: animate 2s ease-in 2s ;
    opacity: 1;
}
.user_details{
   display: none;

}

.navbar_main_container{
width: auto;
font-size: 1rem;


}
.navbar_main_container a{
    border: 1px solid rgb(3, 1, 1);
    padding: 5px;


}
.navbar-search {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(166, 166, 166);
}
.search_input input{
    box-sizing: border-box;
    border: none;
   width: fit-content;
   background-color: black;
   padding: 3px;
   border-radius: 5px;
   color: white;
   width: 100%;
 
}
.search_input{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.left_container_navbar{
    display: flex;
    flex-direction: column;
}
.search_input input :hover{
    width: auto;
    border: none;
    
}

.outter_serrch_container{
   
}
.outter_serrch_hidecontainer{
    display: none;
}
.search_list{
    position: absolute;
    z-index: 999;
    top: 59px;
    height: 200px;
    width: 250px;
    background-color: rgb(71, 71, 71);
    color: wheat; 
    font-size: 1rem;
    overflow-wrap: break-word;
    overflow-x: hidden;
     opacity: 0.8;
    background: transparent;
 opacity: 100%;

   
}
.search_itmes:hover{

    background-color: rgb(13, 9, 9);
    color: wheat; 
    font-size: 1rem;
    cursor: pointer;
   
}
.search_itmes{
  display: flex;
 column-gap: 10px;
 margin: 5px;
 align-items: center;
 border: 2px solid rgb(151, 148, 148);
 box-shadow: rgba(220, 18, 18, 0.35) 0px 5px 15px;
 padding: 5px;

}
.gif_show {
    background: linear-gradient(45deg, #838586, rgb(62, 148, 179), #44cce1);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.not_fd{
   background-color:transparent;
   width: fit-content;
   height: fit-content;
   font-size: 1.4rem;
   font-weight: 700;
   animation: animate 2s ease-in 2s ;
   opacity: 1;

}
@keyframes animate{
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}

.search_itmes img{
    width: 60px;
    height: 60px;
}
.BuyNow_btn{
    display: flex;
    justify-content: space-around;
   
}
.accoutInfo{

    height: fit-content;
    background-color: red;
    color: rgb(122, 104, 104);
   

}

@media screen and (min-width:200px) and (max-width:720px) {
    .navbar_main_container{
       
        width: fit-content;
       
    }
    .navbar_main_container img{
       
    }
    
    .search_container {
        
    }
    .BuyNow_btn{
        display: contents;
        display: none;
        content-visibility: hidden;
    }
}
.accoundinfo{
    background-color: red;
    
}
.lefthandpart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    justify-content: space-around;
    margin:10px;

}
