


.loginbtn{
   display: flex;
    gap: 10px;
    color: black;
   
}
.expanded_user{
    display: none;
}
.user_details{
    position: absolute;
    top: 57px;
    right: 29px;
    border: 2px solid rgb(98, 96, 96);
    padding: 3px;
    z-index: 9999;
    background-color: rgb(37, 38, 39);

}

.navbar_main_container{
width: auto;
font-size: 1rem;


}
.navbar_main_container a{
    border: 1px solid rgb(3, 1, 1);
    padding: 5px;
}.search_input input{
    /* width: auto; */
   height: fit-content;
    border: none;
   width: fit-content;
   background-color: black;
   padding: 3px;
   border-radius: 5px;
   color: white;
 
}
.left_container_navbar{
    display: flex;
    flex-direction: column;
}
.search_input input :hover{
    width: auto;
    border: none;
    outline: 1px solid gray;
}


.search_list{
    position: absolute;
    z-index: 999;
    top: 59px;
    height: 200px;
    width: 250px;
    background-color: rgb(71, 71, 71);
    color: wheat; 
    font-size: 1rem;
    overflow-wrap: break-word;
    overflow-x: hidden;
     opacity: 0.8;
    background: transparent;
 opacity: 100%;

   
}
.search_itmes:hover{

    background-color: rgb(13, 9, 9);
    color: wheat; 
    font-size: 1rem;
    cursor: pointer;
   
}
.search_itmes{
  display: flex;
 column-gap: 10px;
 margin: 5px;
 align-items: center;
 border: 2px solid rgb(151, 148, 148);
 box-shadow: rgba(220, 18, 18, 0.35) 0px 5px 15px;
 padding: 5px;


}
.search_itmes img{
    width: 60px;
    height: 60px;
}
.BuyNow_btn{
    display: flex;
    justify-content: space-around;
   
}
.accoutInfo{

    height: fit-content;
    background-color: red;
    color: rgb(122, 104, 104);
   

}

@media screen and (min-width:200px) and (max-width:720px) {
    .navbar_main_container{
       
        width: fit-content;
       
    }
    .navbar_main_container img{
       
    }
    
    .search_container {
        
    }
    .BuyNow_btn{
        display: contents;
        display: none;
        content-visibility: hidden;
    }
}
.accoundinfo{
    background-color: red;
    
}
.lefthandpart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    justify-content: space-around;
    margin:10px;

}
